html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.main-header {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/imagee.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;

}